# Vivado projects
vivado-*/
*-vivado/
build/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
.sim/
*.srcs/sources_1/ip/
*.Xil/

# Vivado logs
*.jou
*.log
*.str
*.pb

# Simulation
*.vcd
*.ghw
*.fst
*.vvp
*.out
obj_dir/

# Synthesis outputs
*.bit
*.bin
*.dcp
*.ltx

# OS
.DS_Store
*~
*.swp

# Generated documentation
*.html

# Formal verification outputs
formal/*/
!formal/*.sby

# Other
.directory